<ng-sidebar-container>
  <!--Sidebar-->
<ng-sidebar [opened]="opened"
[closeOnClickOutside]="true"
>

 <button (click)="toggleSidebar()">Atrás</button>
 <ul class="menu">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/employeespage">Manage employees</a></li>
  <li><a routerLink="/payroll">Payrolls</a></li>


 </ul>
</ng-sidebar>

<!-- renders button to toggle sidebar and the web header inside the same div-->
<div ng-sidebar-content >
  <div class="wrapper  ">
    <button class="uil uil-bars bg-dark " (click)="toggleSidebar()">
    </button>
  <div class="header">
    <app-header></app-header>
 </div>


</div>

  <!--Page content from router -->
  <router-outlet></router-outlet>

</div>

</ng-sidebar-container>

