
.autocomplete{
  width: 15%;
  height: 30px;
  display: table;
  margin: 0 .5rem;
  text-align: left;
}

select{
  font-size: 1rem;
  color:#000;
  width: 5%;
  height: 40px;
  text-transform: capitalize;
}

h3 {
  color: orangered;
  margin-left: -28%;
}

#navbarNav{
  text-align: center;
}

#navbarNav a{
  color: white;
  text-decoration: none;
}