<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="home bg-danger text-center ali ">
    <h1 class="w3-margin w3-jumbo">NOMINAL</h1>
    <p class="w3-xlarge">Created by: Patrick, Rodrigo & Lluc</p>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Employees</button>
</div>
