.container-lg{
  width: 100vw;

}

.formsContainer{
  margin-top: 3rem;
  position: relative;
  width: 100%;
  display: row;
  right: 20%;
}

.autocomplete{
  width: 10%;
  height: 30px;
  display: table;
  margin: 0 .5rem;
  text-align: left;
}

select{
  font-size: 1rem;
  color:#000;
  height: 40px;
  text-transform: capitalize;
}

.wrapper{
  margin-top: 1rem;
  justify-content: center;
}

input {

  border-radius: 8px;
  box-sizing: border-box;


}

label {
  display: inline-block;
  width: 10em;
  margin-right: 10rem;
  padding-bottom: 1.5em;


}
.extra{
  width: 17rem;
  margin-right: auto;
}


.inputDate{

  display: flex;
  width: 50%;
  height: 40%;
}


.update{
  display: inline;
  margin-bottom: 3rem;
}

.liquidationDate{


  display: flex;
  margin-top: 2rem;
  width: 100%;

}

.days{
  width: 100%;
  margin-right: 2.5rem;
}

.period{
  margin-right: 1rem;
  text-align: center;
}

.searchBars{
  position: relative;
  right: 20%;
  display: flex;
}
.employeeSearch{
  margin-right: 5rem;
}

.employeeForm{
  width: 100%
}

.companyForm{
  display: flex;
  width: 100%;
}
span{
  white-space:nowrap;
  display: flex;

}

.showData{
  position: relative;
  margin-bottom: 1rem;
  top: 50%;
  left: 45%;
  margin-left: -100px;
}



.deductions{
  margin-left: 5rem;
  margin-bottom: .5rem;
}


.aportation{
  display: flex;
  margin-top: .5rem;
}


.aportationInput{
  position: absolute;
  left: 71%;
  width: 100px;
}

.result{
  position: absolute;
  left: 80%
}



.title{
  white-space: nowrap;
  margin-top: .75rem;
  margin-bottom: .75rem;

}

.dataform{
  width: 50%;
}

.field{
  margin-bottom: .5rem
}

.nospace{
  white-space: nowrap;
}

.complements{
  display: flex;
  margin-bottom: .75rem;
  margin-top: .75rem;
  margin-right: .5rem;

}



.data{
  position: absolute;
  left: 18%;
  width: 100px;
  text-align: center;
}

.absdata{
  position: absolute;
  left: 18%;
  width: 100px;
  margin-top: 1rem;

}
.salarial{
  margin-right: auto;
}

.nonsalarial{
  margin-top: 2%;
  margin-left: 5%;
}

.indemndata{
  width:  9vh;
  position: absolute;
  text-align: center;
  left: 46%;
  margin-left: 1rem;
  height: 2.5vh;
}

.totalDeventions{
  position: absolute;
  left: 20%;
  top: 105%;
}

.percentResult{
  position: absolute;
  left: 77%;
}

.totalApported{
  position: absolute;
  left: 85%;
}
.totalDevenued{
  position: absolute;
  left: 0%;
  bottom: 1.5%;
  margin-right: 100vh;
}



.deductionTitle{
  margin-top: 2rem;
  display: flex;
}

.deductionInput{
  margin-left: 1rem;
  height: 75;
  width: 10%;
  text-align: center;
}

.alignResult{

  margin-top: .5rem;
}

.smallInput{
  position: absolute;
  left: 84%;
  width: 2.5vw;

}

input {
  text-align: center;
}
