<!-- This should retrieve data from search component-->


<div class="container">


<app-search-bar (employeeEvent)="receiveEmployee($event)"></app-search-bar>


<div class="formsContainer">

  <div class="employeeForm">



    <form #f="ngForm"  novalidate>
      <label>Nombre
        <input name="name" ngModel='{{employee?.name}}'>
      </label>

      <label for="secondName">Apellido
      <input name="secondName" ngModel={{employee?.secondName}}>
      </label>

      <label for="dni">Dni
      <input name="dni" ngModel={{employee?.dni}}>
      </label>

      <label for="id">Id trabajador
      <input name="id" ngModel={{employee?.id}}>
      </label>

      <label for="naf">Nº Afiliación SS
      <input name="naf" ngModel={{employee?.naf}}>
      </label>

      <label for="jobPosition">Puesto trabajo:
      <input class="extra" name="jobPosition" ngModel={{employee?.jobPosition}}>
      </label>

      <label for="retributiveGroup">Nivel retributivo:
      <input name="retributiveGroup" ngModel={{employee?.retributiveGroup}}>
      </label>

      <label for="establishmentCategory">Categoría del establecimiento:
      <input name="establishmentCategory" ngModel={{employee?.establishmentCategory}}>
      </label>

      <label for="hireDate">Fecha de alta en la empresa
      <input name="hireDate" ngModel={{employee?.hireDate}}>
      </label>

      <button  class="btn btn-outline-secondary" >Calcular</button>
    </form>
  </div>


  </div>

</div>
