<!-- This should retrieve data from search component-->


<div class="container-fluid">

<div class="searchBars ">
<app-employees-search-bar class="employeeSearch" (employeeEvent)="receiveEmployee($event)"></app-employees-search-bar>
<app-companies-search-bar (companyEvent)="receiveCompany($event)" ></app-companies-search-bar>

</div>

<div class="formsContainer">

  <div class="employeeForm">

    <div class="showData ">
      <h4 >Datos trabajador</h4>
    </div>



    <form #f="ngForm"  novalidate>
      <label>Nombre
        <input [disabled]="true" name="name" ngModel='{{employee?.name}}'>
      </label>

      <label for="secondName">Primer apellido
      <input [disabled]="true" name="secondName" ngModel={{employee?.secondName}}>
      </label>

      <label for="lastName">Segundo apellido
        <input [disabled]="true" name="lastName" ngModel={{employee?.lastName}}>
        </label>

      <label for="dni">Dni<br>
      <input [disabled]="true" name="dni" ngModel={{employee?.dni}}>
      </label>

      <label for="id">Id trabajador
      <input [disabled]="true" name="id" ngModel={{employee?.id}}>
      </label>
      <br>
      <label for="naf">Nº Afiliación SS
      <input [disabled]="true" name="naf" ngModel={{employee?.naf}}>
      </label>

      <label for="jobPosition">Puesto trabajo
      <input [disabled]="true" class="extra" name="jobPosition" ngModel={{employee?.jobPosition}}>
      </label>

      <label for="retributiveGroup">Nivel retributivo
      <input [disabled]="true"  name="retributiveGroup" ngModel={{employee?.retributiveGroup}}>
      </label>

      <label for="establishmentCategory">
        <span>Categoría del establecimiento:</span>
      <input [disabled]="true"  name="establishmentCategory" ngModel={{employee?.establishmentCategory}}>
      </label>

      <div class="update">
         <label for="hireDate">
        <span> Fecha de alta en la empresa </span>
      <input [disabled]="true" name="hireDate"   ngModel={{employee?.hireDate}}>
      </label>
      </div>





    </form>
  </div>

  <div class="showData">
    <h4 >Datos empresa</h4>
  </div>

  <form #f="ngForm"  novalidate>

  <div class="companyForm">

    <label for="dni">Nombre Empresa
      <input [disabled]="true" name="name" ngModel={{company?.name}}>
      </label>

      <label for="id">Domicilio
        <input [disabled]="true" name="address" ngModel={{company?.address}}>
        </label>

      <label for="id">CIF
      <input [disabled]="true" name="cif" ngModel={{company?.cif}}>
      </label>

      <label for="naf">CCC a la SS
      <input [disabled]="true" name="ccc" ngModel={{company?.ccc}}>
      </label>

      <label for="city">Ciudad
      <input [disabled]="true" class="extra" name="city" ngModel={{company?.city}}>
      </label>



  </div>
  </form>

  <div class="liquidationDate ">
    <span class="period">
      Periodo liquidación
    </span>
    <label for="payrollDate" class="inputDate">
    del:
  <input type="date"  [(ngModel)]="payroll.startDate " class="inputDate mx-4" required>
    al:
    <input type="date" (change)="calculateDateDiff()"  [(ngModel)]="payroll.endDate" class="inputDate mx-4" required >
    <span class="days">
      Total días:&nbsp; {{dateDiff}}
    </span>

  </label>
  </div>

  <section class="calculations d-flex">

    <section class="deventions">
      <h4>Devengos</h4>

      <section class="salarial">

        <div class="title">
            <h6>Percepciones Salariales</h6>
        </div>

        <form #f="ngForm"  novalidate>
          <span class="field">
            Salario base:&nbsp; {{employee?.baseSalary}} <span *ngIf="employee?.baseSalary">€</span>
          </span>

            <span class="nospace">
              Complementos salariales:  <span class="import"> Importe</span>
            </span>
              <div class="complements">
                <input type="text"  name="complement" placeholder="Nombre complemento">
                <input type="number" class="data" name="complement1value" placeholder="importe">
              </div>


              <div class="complements">
                <input type="text"  name="complement" placeholder="Nombre complemento">
                <input type="number" class="data" name="complement1value" placeholder="importe">
              </div>
              <div class="complements">
                <input type="text"   name="complement1" placeholder="Nombre complemento">
                <input type="number" class="data" name="complement1value" placeholder="importe">
              </div>

            <div class="complements">
              Horas extras fuerza mayor: &nbsp;
              <input type="number"  class="data" name="majorForceHours" placeholder="Nº horas">
            </div>

            <div class="complements">
              Horas extras resto: &nbsp;
              <input type="number"    class="data" name="restExtraHours" placeholder="Nº horas">
            </div>

            <div class="complements">
              Horas complementarias: &nbsp;
              <input type="number"  class="data" name="complementaryHours" placeholder="Nº horas">
            </div>

            <div class="complements">
              Gratificaciones extraordinarias:
              <input type="number"   class="data" name="extraGratifications" placeholder="Cuantía">
            </div>

            <div class="complements">
              Salario en especie:  &nbsp;
              <input type="number" class="data" name="especieSalary" placeholder="Cuantía">
            </div>
        </form>

      </section>


  

      


    </section>

    <section class="nonsalarial">
      <div class="title">
        <h6>Percepciones no salariales</h6>
    </div>

    <span class="nospace">
      Indemnizaciones o suplidos <span class="import"> Importe</span>
    </span>
      <div class="complements">
        <input type="text" name="indemnization1" placeholder="Nombre">
        <input type="number"  class="indemndata" name="indemnization1value" placeholder="importe">
      </div>
      <div class="complements">
        <input type="text" name="indemnization2" placeholder="Nombre ">
        <input type="number"  class="indemndata" name="indemnization2value" placeholder="importe">
      </div>
      <div class="complements">
        <input type="text" name="indemnization3" placeholder="Nombre ">
        <input type="number"  class="indemndata" name="indemnization3value" placeholder="importe">
      </div>

      <div class="complements">
        Prestaciones e <br> indemnizaciones de la S.S.
        <input type="number" class="indemndata" name="especieSalary" placeholder="Cuantía">
      </div>

      <div class="complements">
        Indemnizaciones por traslados,<br> suspensiones o despidos:
        <input type="number"    class="indemndata" name="especieSalary" placeholder="Cuantía">
      </div>

      <div class="complements">
        Otras percepciones salariales:

        <input type="number"  class="indemndata" name="especieSalary" placeholder="Cuantía">
        <span class="totalDevenued">A.- TOTAL DEVENGADO<span class = mx-5> {{calculateTotalDeventions()}} </span></span>

      </div>

    </section>

    <div class="deductions">
      <span class="deductionsTitle">
        <h4>Deducciones</h4>
      </span>

      <div class="title">
        <h6>1. Aportaciones del trabajador a las cotizaciones a la S.S. <br> Y conceptos de recaudación conjunta:</h6>
      </div>


      <div class="aportations">
        <span>Contingencias comunes &nbsp; <span class="percentResult">4,70% * {{calculateTotalDeventions()}} = {{commonContingencies}} €</span></span>

        <span>Desempleo &nbsp; <span class="percentResult">1,55% * {{calculateTotalDeventions()}} = {{unemployement}} €</span></span>

        <span>Formación profesional &nbsp; <span class="percentResult"> &nbsp;&nbsp;0,10% * {{calculateTotalDeventions()}} = {{professionalformation}} €</span></span>

        <span>Horas Extras Fuerza mayor &nbsp; <span class="percentResult ">&nbsp;&nbsp;2% * {{calculateTotalDeventions()}} = {{majorForceHoursDeduction}} €</span></span>

        <span>Horas Extras Resto &nbsp; <span class="percentResult">4,70% * {{calculateTotalDeventions()}} = {{restExtraHours}} €</span></span>

        <span>TOTAL APORTACIONES <span class="totalApported" >{{calculateTotalAportations()}} €</span></span>

      </div>


      <div class="deductionTitle">
        <h6>2. Impuesto Sobre la Renta <br> de Personas Físicas</h6>
        <input class="deductionInput" type="number"  name="irpf" >
        <span class="mx-2 alignResult"> %  &nbsp;* {{totalDeventions}} =<span *ngIf="calculateIrpfDeduction()" class="totalApported mx-4">{{irpfDeduction}} €</span></span>
      </div>

      <div class="deductionTitle">
        <h6>3. Anticipos</h6>
        <input class="smallInput"  type="number"  name="anticipations" placeholder="Cuantía">

      </div>

      <div class="deductionTitle">
        <h6>4. Valor de los productos <br> recibidos en especie</h6>
        <input class="smallInput " type="number"  name="especieProductsValue" placeholder="Cuantía">

        </div>

        <div class="deductionTitle">
        <h6>5. Otras deducciones</h6>
        <input class="smallInput"  type="number"  name="especieProductsValue" placeholder="Cuantía">

        </div>
        <span class="my-2">B.- TOTAL A DEDUCIR <span class="totalApported " >{{calculateTotalDeductions()}}} €</span></span>

        BRUTO: {{calculateBruteSalary()}}
        NETO: {{getNetSalary()}}
    </div>


  </section>





  </div>

</div>
