.container-fluid{
  width: 100%;


}
.import{
  margin-left: auto;
}

.formsContainer{
  margin-top: 3rem;
  position: relative;
  width: 90%;
  display: row;
  margin-left: auto;

}

.autocomplete{
  width: 10%;
  height: 30px;
  display: table;
  margin: 0 .5rem;
  text-align: left;
}

select{
  font-size: .9rem;
  color:#000;
  height: 40px;
  text-transform: capitalize;
}

.wrapper{
  margin-top: .9rem;
  justify-content: center;
}

input {

  border-radius: 8px;
  box-sizing: border-box;


}

label {
  display: inline-block;
  width: 10em;
  margin-right: 10rem;
  padding-bottom: 1.5em;


}
.extra{
  width: 17rem;
  margin-right: auto;
}


.inputDate{

  display: flex;
  width: 50%;
  height: 40%;
}


.update{
  display: inline;
  margin-bottom: 3rem;
}

.liquidationDate{


  display: flex;
  margin-top: 2rem;
  width: 60%;

}

.days{
  width: 100%;
  margin-right: 2.5rem;
}

.period{
  margin-right: 1rem;
  text-align: center;
}

.searchBars{
  position: relative;
  display: flex;
  margin-bottom: 1.55rem;
  margin-left: 32.5%;


}
.employeeSearch{
  margin-right: 5rem;
}

.employeeForm{
  width: 100%;
}

.companyForm{
  display: flex;
  width: 100%;
}
span{
  white-space:nowrap;
  display: flex;

}

.showData{
 margin-right: 25%;
 text-align: center;
}



.deductions{
  margin-top: -1rem;
  margin-left: 5rem;
  margin-bottom: .5rem;
}


.aportation{
  display: flex;
  margin-top: .5rem;
}


.aportationInput{
  position: absolute;
  left: 71%;
  width: 100px;
}

.result{
  position: absolute;
  left: 80%
}



.title{
  white-space: nowrap;
  margin-top: .75rem;
  margin-bottom: .75rem;

}

.dataform{
  width: 50%;
}

.field{
  margin-bottom: .5rem
}

.nospace{
  white-space: nowrap;
}

.complements{
  display: flex;
  margin-bottom: .75rem;
  margin-top: .75rem;
  margin-right: .5rem;

}



.data{
  width:  25%;
  height: 40%;
  position: relative;
  margin-left: auto;
  text-align: center;
  left: 10px;
}

.absdata{
  position: absolute;
  left: 18%;
  width: 100px;
  margin-top: 1rem;

}
.salarial{
  margin-right: auto;
}

.nonsalarial{
  margin-top: 2%;
  margin-left: 5%;
}

.indemndata{
  position: relative;
  left: 20px;
  width:  25%;
  text-align: center;
  margin-left: auto;
  height: 30%;
}

.totalDeventions{
  margin-left: 75%;
  font-weight: 600;
  font-size: 1rem;
}

.percentResult{
  margin-left: auto;
}

.totalApported{
  margin-left: auto;
}
.totalDevenued{
  display: flex;
  position: absolute;
  bottom: 8%;
  font-size: 1rem;
  font-weight: bold;
}

.deventions{
  width: 20%;
}


.deductionTitle{
  margin-top: 2rem;
  display: flex;
}

.deductionInput{
  margin-left: auto;
  height: 75;
  width: 10%;
  text-align: center;
}

.smallInput{
  height: 30%;
  width:15%;
  margin-left: auto;

}

input {
  height: 50%;
  text-align: center;
}

*{
  font-size: .9rem;
}


.salaries{
  margin-top: .5rem;
  display: flex;
  margin-bottom: 2rem;

}
.salary1{
  width: 100%;
  float:left;
  font-weight: 700;
}

.salary2{
  font-weight: 700;
}



.alignResult{
  margin-right: -1rem;
  max-width: 20%;
  margin-left:auto;
}

.exports{
  margin-top: auto;
  float:right;
  font-size: 1rem;
  font-weight: 700;
  display: inline;
}
