<!--Shows employee cart for each employee from given employee service array-->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<div class="row">
<div *ngFor="let employee of employees" class="col-md-4 row-xl-3 col-xl-3">
  <div class="card m-b-30">
     <div class="card-body row">
        <div class="col-24 card-title align-self-center mb-0">
           <h5 class="name">{{employee?.name}} {{employee.secondName}}</h5>
           <h6 class="mb-2">{{employee?.jobPosition}}</h6>
           <p><small>{{employee?.id}}</small></p>
        </div>
     </div>
     <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.email}}</li>
        <li class="list-group-item"><i class="fa fa-phone float-right"></i>Nº Tel. : {{employee?.phone}}</li>
     </ul>
     <div class="card-body">

      </div>
    </div>
  </div>
</div>
